Repository exercism/lfe, pull requests merged in 2024-04, with the labels that each got.

#208 sieve: sync
  exercises/practice/sieve/.docs/instructions.md
Labels: x:size/tiny

#204 Add collatz conjecture
  config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.gitignore
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/example.lfe
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/Makefile
  exercises/practice/collatz-conjecture/rebar.config
  exercises/practice/collatz-conjecture/rebar.lock
  exercises/practice/collatz-conjecture/src/collatz-conjecture.app.src
  exercises/practice/collatz-conjecture/src/collatz-conjecture.lfe
  exercises/practice/collatz-conjecture/test/collatz-conjecture-tests.lfe
Labels: x:module/practice-exercise, x:rep/medium

#214 Sort exercises by difficulty and then name
  config.json
Labels: x:rep/tiny

#215 Update README
  README.md
Labels: x:type/docs, x:rep/tiny

#223 Add queen-attack
  config.json
  exercises/practice/queen-attack/.docs/instructions.md
  exercises/practice/queen-attack/.gitignore
  exercises/practice/queen-attack/.meta/config.json
  exercises/practice/queen-attack/.meta/example.lfe
  exercises/practice/queen-attack/.meta/tests.toml
  exercises/practice/queen-attack/Makefile
  exercises/practice/queen-attack/rebar.config
  exercises/practice/queen-attack/rebar.lock
  exercises/practice/queen-attack/src/queen-attack.app.src
  exercises/practice/queen-attack/src/queen-attack.lfe
  exercises/practice/queen-attack/test/queen-attack-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#222 Add triangle
  config.json
  exercises/practice/triangle/.docs/instructions.append.md
  exercises/practice/triangle/.docs/instructions.md
  exercises/practice/triangle/.gitignore
  exercises/practice/triangle/.meta/config.json
  exercises/practice/triangle/.meta/example.lfe
  exercises/practice/triangle/.meta/tests.toml
  exercises/practice/triangle/Makefile
  exercises/practice/triangle/rebar.config
  exercises/practice/triangle/rebar.lock
  exercises/practice/triangle/src/triangle.app.src
  exercises/practice/triangle/src/triangle.lfe
  exercises/practice/triangle/test/triangle-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#221 Sync docs and metadata
  exercises/practice/acronym/.docs/instructions.md
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.docs/introduction.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/meetup/.meta/config.json
  exercises/practice/pangram/.meta/config.json
  exercises/practice/parallel-letter-frequency/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.docs/introduction.md
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/sieve/.meta/config.json
  exercises/practice/strain/.meta/config.json
Labels: x:action/sync, x:rep/tiny

#220 Add square-root
  config.json
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.gitignore
  exercises/practice/square-root/.meta/config.json
  exercises/practice/square-root/.meta/example.lfe
  exercises/practice/square-root/.meta/tests.toml
  exercises/practice/square-root/Makefile
  exercises/practice/square-root/rebar.config
  exercises/practice/square-root/rebar.lock
  exercises/practice/square-root/src/square-root.app.src
  exercises/practice/square-root/src/square-root.lfe
  exercises/practice/square-root/test/square-root-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#219 Add darts exercise
  config.json
  exercises/practice/darts/.docs/instructions.md
  exercises/practice/darts/.gitignore
  exercises/practice/darts/.meta/config.json
  exercises/practice/darts/.meta/example.lfe
  exercises/practice/darts/.meta/tests.toml
  exercises/practice/darts/Makefile
  exercises/practice/darts/rebar.config
  exercises/practice/darts/rebar.lock
  exercises/practice/darts/src/darts.app.src
  exercises/practice/darts/src/darts.lfe
  exercises/practice/darts/test/darts-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#218 Add two-fer
  config.json
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
  exercises/practice/two-fer/.gitignore
  exercises/practice/two-fer/.meta/config.json
  exercises/practice/two-fer/.meta/example.lfe
  exercises/practice/two-fer/.meta/tests.toml
  exercises/practice/two-fer/Makefile
  exercises/practice/two-fer/rebar.config
  exercises/practice/two-fer/rebar.lock
  exercises/practice/two-fer/src/two-fer.app.src
  exercises/practice/two-fer/src/two-fer.lfe
  exercises/practice/two-fer/test/two-fer-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#217 Add resistor-color
  config.json
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.gitignore
  exercises/practice/resistor-color/.meta/config.json
  exercises/practice/resistor-color/.meta/example.lfe
  exercises/practice/resistor-color/.meta/tests.toml
  exercises/practice/resistor-color/Makefile
  exercises/practice/resistor-color/rebar.config
  exercises/practice/resistor-color/rebar.lock
  exercises/practice/resistor-color/src/resistor-color.app.src
  exercises/practice/resistor-color/src/resistor-color.lfe
  exercises/practice/resistor-color/test/resistor-color-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#224 Sync roman-numeral tests
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/roman-numerals/test/roman-numerals-tests.lfe
Labels: x:action/sync, x:rep/tiny

#226 Sync strain tests
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/test/strain-tests.lfe
Labels: x:action/sync, x:rep/tiny
