Repository exercism/lfe, pull requests merged in 2024-06, with the labels that each got.

#250 Add perfect-numbers
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.gitignore
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/example.lfe
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/Makefile
  exercises/practice/perfect-numbers/rebar.config
  exercises/practice/perfect-numbers/rebar.lock
  exercises/practice/perfect-numbers/src/perfect-numbers.app.src
  exercises/practice/perfect-numbers/src/perfect-numbers.lfe
  exercises/practice/perfect-numbers/test/perfect-numbers-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#249 Add high-scores
  config.json
  exercises/practice/high-scores/.docs/instructions.md
  exercises/practice/high-scores/.meta/config.json
  exercises/practice/high-scores/.meta/example.lfe
  exercises/practice/high-scores/.meta/tests.toml
  exercises/practice/high-scores/Makefile
  exercises/practice/high-scores/rebar.config
  exercises/practice/high-scores/rebar.lock
  exercises/practice/high-scores/src/high-scores.app.src
  exercises/practice/high-scores/src/high-scores.lfe
  exercises/practice/high-scores/test/high-scores-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#251 meetup: sync
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.docs/introduction.md
Labels: x:size/tiny

#248 Update ABOUT.md
  docs/ABOUT.md
Labels: x:type/docs, x:rep/small

#255 Add matching-brackets
  config.json
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/introduction.md
  exercises/practice/matching-brackets/.gitignore
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/matching-brackets/.meta/example.lfe
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/Makefile
  exercises/practice/matching-brackets/rebar.config
  exercises/practice/matching-brackets/rebar.lock
  exercises/practice/matching-brackets/src/matching-brackets.app.src
  exercises/practice/matching-brackets/src/matching-brackets.lfe
  exercises/practice/matching-brackets/test/matching-brackets-tests.lfe
Labels: x:module/practice-exercise, x:rep/large

#257 Add rotational-cipher
  config.json
  exercises/practice/rotational-cipher/.docs/instructions.md
  exercises/practice/rotational-cipher/.meta/config.json
  exercises/practice/rotational-cipher/.meta/example.lfe
  exercises/practice/rotational-cipher/.meta/tests.toml
  exercises/practice/rotational-cipher/Makefile
  exercises/practice/rotational-cipher/rebar.config
  exercises/practice/rotational-cipher/rebar.lock
  exercises/practice/rotational-cipher/src/rotational-cipher.app.src
  exercises/practice/rotational-cipher/src/rotational-cipher.lfe
  exercises/practice/rotational-cipher/test/rotational-cipher-tests.lfe
Labels: x:module/practice-exercise, x:rep/large
